{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    Career
</h1>

<p class="subtitle">
    I'm pursuing a position as a software engineer. In past summers, I've worked in the financial sectors and cloud computing sectors at GAIN Capital and Amazon Web Services, respectively. This year, I'm looking for new problems to solve and new challenges to face.
</br></br>
    You can see my <a href="https://linkedin.com/in/michaelhackett1">LinkedIn</a> and <a href="https://github.com/hackett123">GitHub</a> as well.
</p>
{% endblock %}