{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    Michael Hackett
</h1>
<div class="columns">
    <div class="column">
        <div class="box">
            <a href="/about_me">About Me </a>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <a href="/teaching">Teaching </a>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <a href="/projects">Projects </a>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <a href="/career">Career </a>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <a href="/blog">Blog </a>
        </div>
    </div>
</div>

<p class="subtitle">
    My name is Michael Hackett, I'm a junior at the University of Pennsylvania studying computer science and
    cognitive science. I'm passionate about teaching software engineering to the newest generation of computer
    scientists while expanding my (very limited) knowledge on the subject. My professional interests lie in software engineering and
    its applications in business and neuroscience, with some fiddling in game design and artifical intelligence. In my free time I'm an avid percussionist and iced coffee lover.
    </br>
</p>
{% endblock %}