{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    Teaching
</h1>
</br>
<p class="subtitle">
    I'm a Head Teaching Assistant for <a href="https://www.cis.upenn.edu/~cis110/current/">CIS 110</a> at Penn, the University of Pennsylvania's Introductory Computer Programming course. I'm incredibly passionate about making computer science a more welcoming environment for students like me who were afraid of the field before coming to college and for studenets from marginalized backgrounds.
</br></br>
    Some of the work we do in my class involve making recursive graphics, cracking the Caesar Cipher, creating a guitar out of your keyboard, and implementing some heuristics for the Traveling Salesperson Problem.
</p>
{% endblock %}